/.dart_tool
.flutter-plugins-dependencies
/build
/.idea
/.dart-tool
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
ios/Flutter/ephemeral/flutter_lldb_helper.py
ios/Flutter/ephemeral/flutter_lldbinit
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
linux/flutter/ephemeral/.plugin_symlinks/desktop_multi_window
linux/flutter/ephemeral/.plugin_symlinks/file_picker
linux/flutter/ephemeral/.plugin_symlinks/package_info_plus
linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
linux/flutter/ephemeral/.plugin_symlinks/screen_retriever_linux
linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
linux/flutter/ephemeral/.plugin_symlinks/window_manager
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
macos/Flutter/ephemeral/flutter_export_environment.sh
windows/flutter/ephemeral/.plugin_symlinks/desktop_multi_window
windows/flutter/ephemeral/.plugin_symlinks/file_picker
windows/flutter/ephemeral/.plugin_symlinks/just_audio_windows
windows/flutter/ephemeral/.plugin_symlinks/package_info_plus
windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
windows/flutter/ephemeral/.plugin_symlinks/permission_handler_windows
windows/flutter/ephemeral/.plugin_symlinks/screen_retriever_windows
windows/flutter/ephemeral/.plugin_symlinks/url_launcher_windows
windows/flutter/ephemeral/.plugin_symlinks/window_manager
windows/flutter/ephemeral/cpp_client_wrapper/binary_messenger_impl.h
windows/flutter/ephemeral/cpp_client_wrapper/byte_buffer_streams.h
windows/flutter/ephemeral/cpp_client_wrapper/core_implementations.cc
windows/flutter/ephemeral/cpp_client_wrapper/engine_method_result.cc
windows/flutter/ephemeral/cpp_client_wrapper/flutter_engine.cc
windows/flutter/ephemeral/cpp_client_wrapper/flutter_view_controller.cc
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/basic_message_channel.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/binary_messenger.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/byte_streams.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/dart_project.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/encodable_value.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/engine_method_result.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_channel.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_sink.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler_functions.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_engine.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view_controller.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/message_codec.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_call.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_channel.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_codec.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result_functions.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar_windows.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registry.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_codec_serializer.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_message_codec.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_method_codec.h
windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/texture_registrar.h
windows/flutter/ephemeral/cpp_client_wrapper/plugin_registrar.cc
windows/flutter/ephemeral/cpp_client_wrapper/readme
windows/flutter/ephemeral/cpp_client_wrapper/standard_codec.cc
windows/flutter/ephemeral/cpp_client_wrapper/texture_registrar_impl.h
windows/flutter/ephemeral/flutter_export.h
windows/flutter/ephemeral/flutter_messenger.h
windows/flutter/ephemeral/flutter_plugin_registrar.h
windows/flutter/ephemeral/flutter_texture_registrar.h
windows/flutter/ephemeral/flutter_windows.dll
windows/flutter/ephemeral/flutter_windows.dll.exp
windows/flutter/ephemeral/flutter_windows.dll.lib
windows/flutter/ephemeral/flutter_windows.dll.pdb
windows/flutter/ephemeral/flutter_windows.h
windows/flutter/ephemeral/generated_config.cmake
windows/flutter/ephemeral/icudtl.dat
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
/linux/flutter/ephemeral/flutter_linux
/linux/flutter/ephemeral
